@import '@midnightmunches/tailwind-config/base.css';

@source '../../../../packages/ui/src';

body {
  background-color: var(--color-butcher-black);
  color: var(--color-bone-white);
  font-family: var(--font-body);
}
